<form action="/submit" method="post">
  <input type="text" name="originZip" placeholder="Origin ZIP"><br>
  <input type="text" name="destinationZip" placeholder="Destination ZIP"><br>
  <input type="text" name="dimensionX" placeholder="Length"><br>
  <input type="text" name="dimensionY" placeholder="Width"><br>
  <input type="text" name="dimensionZ" placeholder="Height"><br>
  <input type="text" name="weightPounds" placeholder="Weight (lbs)"><br>
  <input type="text" name="weightOunces" placeholder="Weight (oz)"><br>
  <button type="submit">Obtener Tarifa</button>
</form>
